<div>
  <div fxLayout="row">
    <mat-toolbar fxLayout="row" fxLayoutGap="25px" color="dark">
      <label fxLayout="column">
        User Search:
        <input type="text" [formControl]="searchInput" placeholder="Username">
      </label>
      <button fxLayout="column" mat-flat-button color="primary" (click)="applySearch()">Search</button>
    </mat-toolbar>
  </div>
  <div *ngIf="(users$ | async)?.length > 0">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <app-user-card
          *ngFor="let user of users$ | async; let i = index"
          [user]="user">
      </app-user-card>
    </div>
  </div>
  <div *ngIf="!(users$ | async)">
    Please search by username
  </div>
</div>
