<div class="search-container">
  <label>
      User Search:
      <input type="text" [formControl]="searchInput">
    </label>
    <div class="form-group">
      <button (click)="applySearch()" class="btn btn-dark">Search</button>
    </div>
    <!-- <div>
      Value: {{ searchInput.value }}
    </div> -->
    <div class="search-results">
      <app-user-card class="associate-opportunity-card"
          *ngFor="let user of users$ | async; let i = index"
          [user]="user">
      </app-user-card>
    </div>
</div>
